<%= form_for current_user.fan_relationships.build(:followed_id => @fan_base.id), 
                          :remote => true do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Become A Fan", :class => "btn btn-primary" %>
<% end %>
