<div class="fan-base" id="edit-fan-base">
<h1>Edit Your Fan Base</h1>

<%= render 'form' %>

<%= link_to 'Show', @fan_base, remote: :true, :id => "page-link" %> |
<%= link_to 'Back', @fan_base, remote: :true, :id => "page-link" %>
</div>