<h3>Your Feed</h3>
   <div id="feed" class="span6">
   	    <%= render 'users/activity_types/activity_type_2' %>
   	    <%= render 'users/activity_types/activity_type_4' %>
   	    <%= render 'users/activity_types/activity_type_7' %>
    </div>


 
