<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div id="user-stats-on-feed" class="span2">
    <%= render 'shared/user_stats_main' %>
  </div>
 
  <div class="span8" id="activity-feed">
   <%= render 'feed' %>
  </div>
 
  
</div>






    