<section id="pages-main" class="span10">

<h1 id="info-page-title">What Is MusicMind?</h1>

<div id="info-page-wrapper">
	
<h2>Inspiration</h2>

<p id="pages">Today music plays a very important role in people's lives. It creates inspiratiion, invokes emotions, and even can lead to friendships. MusicMind was established to meet the needs of a growing online music community where both music fans and artists can thrive. Right now, more than x amount of songs are purchased online each year, vs. 5 years ago when the music market was sustained by in store sales. With an online music comunity has come many problems from billions of dollars in losses, but also many advantages and a way for artists to connect with fans on a more personal basis. MusicMind has an initial goal of helping artists to establish value with their fans.</p>



<h2>What exactly is MusicMind?</h2>

<p id="pages">MusicMind is an online network of musicians and fans. Offering a place where all users can store an unlimited amount of music in a personal online library,stream music from their personal library, and connect to fan bases full of music from your favorite artists. <br />MusicMind offers a way for you to connect with your favorite artists while still connected to your own personal online music library which is yours forever and that you can take virtually anywhere. We provide the solution of creating a more connected music community globally driven by fans and artists not by music publishers. We open up the digital music industry without comprimising resources for fans and artists</p>

<em style="margin-left:10px;">MusicMind brings artists and fans together. Creating a place where both can be a part of a worldwide music experience.</em>

<h2>The Team</h2>

<p id="pages">MusicMind was founded in 2011 by a team of students in the Washington, DC and Chicagoland Area. All of which understand what it means to take risks and follow their dreams. In today's world, we understand that no single culture is more capable of the next, but that inside and out we are all human. We take pride in our diversity and hope you will too. We represent a generation that is more connected than ever and one that is more diverse than ever. </p>
</div>

</section>