<section id="pages-main" class="span10">
<h1 id="about">Need Some Help?</h1>

<h2 style="padding-bottom:20px;">FAQ</h2>
<p id="pages"> 1. Why should I join MusicMind?</p> <br />
<p id="pages">Answer: <em>Because MusicMind provides a solution to a transitioning store based to digital music industry. Nowadays, anyone can create great music, we provide the place to share those created experiences. </em></p>
</section>