<section id="pages-main" class="span10">
<h1 id="info-page-title">Believe in what we're doing? Show us. Tell us. Let's Talk.</h1>

<div id="info-page-wrapper">
<p id="pages">
We're currently looking to add people to our initial start up group.<br /> 
Currently compensation is offered but as previously stated,<br /> 
if you believe in what we're trying to accomplish. We're sure it'll pay off.
</p>

<p id="pages">
Musicmind has a goal of producing a challenge for our team members. With this principle focus in mind, we take it very seriously when bringing new talent to our team. </p>

<p id="pages">Devs:

(if you believe you have a special skill set please fill us in.)
With that said, our office is located in Washington, DC at this location:

Designers:
We're looking for proficiency and mastery + ambition in the following areas
Adobe Suites
Dreamweaver
Photoshop
Adobe FLEX(mobile dev)

If you're interested, shoot us an email with your best time for an interview, and a voice link as to why you'd make a great edition to the team. No resumes accepted.

Know other people who might be interested?
</p>
<br />
<br />

<address><h3><a href="mailto:challenge@musicmind.co">challenge@musicmind.co</a></h3></address>


<p id="pages">

DC Tech Jobs
DC Tech 
Ruby Users Group
Arlington Ruby Group
</p>
</div>
