<div class="master-song" id="master-song-new">
<div class="span9">
<h1>Upload Songs To Your FanBase</h1>
 
<%= render 'form' %>

<%= link_to '<-- Back', :back, remote: :true, :id => "page-link" %>
</div>
</div>
