
<% @activities.each do |activity| %>
<% if activity.trackable_type == "Relationship" %>
<% if current_user.following?(activity.owner) %>
<div id="feed-item">
	<%= link_to image_tag(activity.owner.user_image.url(:thumb)), user_path(activity.owner) %>
<%= activity.text %>
</div>
<% end %>
<% end %>
<% end %>


