h1{
	padding-bottom:20px;
	padding-top:15px;
}

h2{
	padding: 10px 0px 10px 0px;
}

h3#fan-base-stats{
	float:left;
}

div#fan_base_show{
    margin:25px 0px 0px 35px;
}

section#fan-base-music{
	width:100%;
	clear:both;
}




div#fan-base-image{
	float: left;
	padding: 0px 20px 10px 0px;
}

div#artist-label{
   float: right;
}

section#albums{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 40px 40px;
   float: left;
   width:auto;
}


section#listing-fan-bases{
	margin: 0px 0px 40px 50px;
	
	
}

section#fan-base-owner-links{
	

}

section.yfb{
	float:left;
}

section.yfb#yours{
 padding-right:10px;
 padding-left:20px;
}

div#your-fanbase{
    background-image:url('white_carbonfiber.png');
    padding:40px;
}

div#divider{
  float:left;
}

p#name{
	display:none;
}

div#fan-of{
  position:relative;
  margin-top:20px;
}

div#fan-of:hover p#name{
	display:block;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:white;
	width:100%;
}


section.yfb#yourein{
  padding-left:60px;
  width:660px;

}


div.fan-base{
	margin-top:40px;
}

div#edit-fan-base{
	margin-left:40px;
}

div#new-fan-base{
	margin-left:40px;
}

div.alert.alert-success{
	margin-top: 10px;
	float: left;
	margin-bottom: 20px;
}

div#fb-stats{
	background-image:url('white_carbonfiber.png');
	padding:5px 5px 5px 5px;
	border-radius:5px;
	margin: 5px 0px 5px 0px;
}
