section#pages-main{
	padding: 0px 60px 0px 0px;
	margin-left: 53px;
}


h1#about{
    margin: 30px 0px 0px 0px;
    padding: 10px 0px 10px 10px;
    border-radius:7px;
    background-image:url('tex2res5.png');
    }


p#pages{
	font-size:16px;
	padding: 10px 0px 10px 10px;	
}