section#pages-main{
	padding: 0px 60px 0px 0px;
	margin-left: 53px;
}


h1#info-page-title{
    margin: 30px 0px 0px 0px;
    padding: 10px 0px 10px 10px;
    border-radius:7px;
    background-color:white;
    color:#36F;
    text-shadow:1px 1px black;
    }


p#pages{
	font-size:16px;
	padding: 10px 0px 10px 0px;	
}

div#info-page-wrapper{
	margin-left:10px;
}

